* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background-image: url(thumb.jpg);
  font-family: "segoe UI";
  background-color: #ededed;
}
main{
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-rows: 80px 1fr 220px;
}





.navigation {
  height: 100%;
  width: 100%;
  background-color: #282828;
}
.navigation-h {
  line-height: 80px;
  font-size: 35px;
  font-weight: bold;
  color: #39ca74;
  padding: 0 50px;  
}
.navigation-h span {
  color: #ffffff;
}
.navigation ul {
  float: right;
  margin-right: 40px;
}
.navigation ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 8px;
}

.navigation ul li a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 7px 10px;
  border-radius: 3px;
}

.navigation ul a:hover {
  background: #39ca74;
  transition: 0.5s;
}

.navigation ul i{
  color: #39ca74;
}


.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1048px) {
  label.navigation-h {
    font-size: 30px;
    padding-left: 30px;
  }
  .navigation ul{
      margin-right: 20px;
  }
  .navigation ul li a {
    font-size: 16px;
  }
}
@media (max-width: 909px) {
  .checkbtn {
    display: block;
  }
  .navigation ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2f3640;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index:999
  }
  .navigation ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .navigation ul li a{
    font-size: 20px;
  }
  .navigation-list li a:hover,
  .navigation-list li a {
    background: none;
    color: #f0c330;
  }
  .navigation ul.show{
      left: 0;
  }
}

.log-form{
  
  max-width: 440px;
  width: 100%;
  justify-content: center;
  height: 50vh;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 150px auto;
  padding: 0 20px;
}
.container{
  max-width: 440px;
  padding: 0 20px;
  margin: auto;
}
.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.wrapper .title{
  height: 90px;
  background: #16a085;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  padding: 30px 25px 25px 25px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 22px;
  position: relative;
}

.wrapper form .row span{
  color: red;
  font-weight: 500;

}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row input:focus{
  border-color: #16a085;
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
form .row input::placeholder{
  color: #999;
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: #16a085;
  border: 1px solid #16a085;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color: #16a085;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
.wrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #16a085;
  border: 1px solid #16a085;
  cursor: pointer;
}
form .button input:hover{
  background: #12876f;
}
.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapper form .signup-link a{
  color: #16a085;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}

.footer{
  margin-top: 70px;
  clear: both;
  padding: 10px 0;
  background-color: #fff;

}
.footer .social{
  text-align: center;
  padding-bottom: 25px;
  color: #4b4c4d;

}
.footer .social a{
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}
.footer .social a:hover{
  opacity: 0.9;
}

.footer ul{
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li{
  display: inline-block;
  padding: 0 15px;
}
.footer ul li a{
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li a:hover{
  opacity: 1;
}
.footer .copyright{
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;

}

/* For "other" option in drop down menu */
.extra-option{
  border: none;
}

.display_table2, .display_data2{
  display: grid;
  
}
.display_table2{
  min-height: 500px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
.display_data2{
  background-color: rgb(238, 238, 238);
  row-gap: 1rem;
  padding: 2rem;
  box-shadow: 4px 4px 4px #E1E1E1;
}
.display_data2 tr,.display_data2 td{
    
    display: flex;
    align-items: center;
}
.display_data2 tr{
    width: 460px;
    justify-content: space-between;
    padding: .75rem 1.25rem .75rem .75rem;
    box-shadow: 4px 4px 16px #bebdbd, -2px -2px 16px #fff;
    border-radius: 2.5rem;

}
.display_table1, .display_data1{
  display: grid;
  
}
.display_table1{
  min-height: 500px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
.display_data1{
  background-color: rgb(238, 238, 238);
  row-gap: 1rem;
  padding: 2rem;
  box-shadow: 4px 4px 4px #E1E1E1;
}
.display_data1 tr,.display_data1 td{
    display: flex;
    align-items: center;
}
.display_data1 tr{
    width: 460px;
    justify-content: space-between;
    padding: .75rem 1.25rem .75rem .75rem;
    box-shadow: 4px 4px 16px #E1E1E1, -2px -2px 16px #fff;
    border-radius: 2.5rem;

}

  .drop_img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 1rem;
}

.about_row{
  
  margin-top: 70px;
}
.about_column {
  
  float: left;
  width: 33.3%;
  margin-bottom: 13px;
  padding: 0 8px;
}

.about_card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}


.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.about_container {
  padding: 0 16px;
}


.about_container p{
  padding: 20px;
}

.about_container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.about_title {
  color: grey;
}

.about_button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.about_button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .about_column {
    width: 100%;
    display: block;
  }
}

.section_container{
  width:80%;
  margin: 0 auto;
}

.section_details{
  text-align: center;
}

.section_details h2{
  color:#243238;
  font-size:50px;
  margin: 0;
}

.section_main-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section_box{
  width: 300px;
  height: 400px;
  margin: 10px;
  text-align: center;
  padding: 40px 20px;
  color: #ffffff;
  position: relative;
  z-index: 2;
  border-radius: 5px;

}
.section_box > * {
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.section_box::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.section_box:hover::before{
  width: 95%;
  height: 95%;
  transition: all ease .50s;
}

.section_box .icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  display: inline-block;
  position: relative;
}

.section_box .icon .fas{
  color: #404044;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr{
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  width: 70%;
  border: 1px solid rgba(255,255,255, 0.1);

}

.section_box a{
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background-color:#D50000 ;
  padding: 10px 25px;
  border-radius: 25px;
  margin-top: 25px;
  display: inline-block;
  font-weight: 600 ;
}
.section_box a:hover{
  background-color:#243238 ;
}

.section_box .section_white-border{
  border: 1px solid #ffffff;
}


.section_box-grey{
  background-color:#404044 ;
}

.section_box-red{
  background-color:#D50000;
}

.privacy_container {
  padding: 25px 25px 25px 25px;
  content: justify;
}

.privacy_container p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.terms_container{
  padding: 100px 100px ;
}

.terms_container p, .terms_container h1{
  font-family: cursive;
}



  
/* #profileDisplay{
  display: block;
  width: 60%;
  margin: 10px auto;
  border-radius: 50%;
} */
.homebody{
  width: 100%;
  min-height: 700px;
}
.home{
  
  width: 80%;
  margin: 20px auto;
  
}
.home-img{
  background-color: #fff;
  display: grid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  grid-template-columns: 1fr 450px;
  margin: 8px;
}




